@model PhoneBook.UI.WebMVC.Models.Tags.AddTagViewModel
<h1>Add Tag</h1>
<form asp-controller="Tag" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input type="text" asp-for="Title" class="form-control" maxlength="50"  style="width:200px"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
  <input type="submit" class="btn btn-primary" value="save"  style = "width: 100px;"/> 
</form>

