@model PhoneBook.UI.WebMVC.Models.Tags.AddTagViewModel


<h1>List of Tag</h1>

<table class="table table-bordered table-striped">
    <tr>
        <th>Id</th>
        <th>Title</th>
    </tr>
    @foreach (var item in Model.tags)
    {
        <tr>
            <td>@item.TagId</td>
            <td>@item.Title</td>
        </tr>

    }
</table>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="width: 200px;">Add Tag</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content pl-2 pt-2">

            <form asp-controller="Tag" asp-action="Add" method="post">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" type="text" class="form-control" maxlength="50" left="50" style="width:200px" />
                    <span  asp-validation-for="Title" class="text-danger"></span>
                </div>
                <input type="submit" class="btn btn-primary" value="save" style="width: 100px;" />
            </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
